/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

h1 {
    font-size:24px;
    font-weight:normal;
    margin:10px;
    overflow:visible;
    padding:0px;
    text-align:left;
    background-color: navy;
    color: white;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0%;
    font-family: sans-serif;
    text-align: left;
}
main {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    height: 75%;
    font-family: sans-serif;
    text-align: left;
    flex-direction:  column;
}
header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: navy;
}
header img, header h1 {
    float: left;
    display: block;
}
header img#logo {
    width: 28px;
    height: 28px;
    margin: 8px;
}
header h1 {
    color: white;
    text-align: left;
    font-weight: bold;
}

article {
    margin-top: 0;
    display: flex;
    flex-flow: column wrap;
}

img {
    padding: 0;
    display: block;
    max-height: 100%;
    max-width: 100%;
}
canvas {
    padding: 0;
    display: block;
    float: left;
    flex-direction: column;
    overflow: scroll;
    object-fit: contain;
    object-position: top left;
    max-width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    float: left;
    max-width: 700px;
    border: 1px solid #ddd;
    margin-right: 20px;
    margin-bottom: 20px;
    table-layout: fixed;
}

th, td {
    text-align: left;
    padding: 8px;
    width: 100%;
}

tr:nth-child(even){background-color: #f2f2f2}
tr th:nth-child(n+2){text-align: right}
tr td:nth-child(n+2){text-align: right}
